@charset "UTF-8";


body {
    background-color: rgb(147, 235, 205);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1 {
    color: rgb(255, 0, 0);
    background-color: rgb(49, 148, 151);
}
h2 {
    color: rgb(35, 14, 68);
    background-color: rgb(207, 195, 180);
}
p {
    text-align: justify;
}